<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyConnectionString"
        connectionString="Data Source=DESKTOP-4K6VG4S\SQLEXPRESS;Initial Catalog=MusicService;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>